body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

header {
    background: rgba(0,0,0,0.8);
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.9);
}

nav a {
    color: white;
    padding: 14px 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #f4a261;
}

.content {
    margin: 40px;
    padding: 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 12px;
}

button {
    padding: 10px 18px;
    margin: 8px;
    background: #e76f51;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #f4a261;
}

img {
    width: 280px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;

}



/* Reviews Layout */

.reviews-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
padding:40px 20px;
}

/* Review Card */

.review-card{
background:white;
width:280px;
padding:25px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.08);
text-align:center;
transition:0.3s;
}

.review-card:hover{
transform:translateY(-5px);
}

/* Avatar */

.avatar{
width:60px;
height:60px;
background:#2c6e49;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-size:22px;
margin:0 auto 15px auto;
}

/* Text */

.review-text{
font-size:15px;
color:#444;
line-height:1.6;
margin-bottom:15px;
}

.review-card h3{
margin:5px 0;
}

.role{
font-size:13px;
color:#777;
}

